__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/

build/
dist/
wheels/
.Python
.installed.cfg

.venv/
venv/
env/
.python-version

.coverage
.coverage.*
htmlcov/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/

*.log
*.sqlite3
media/
staticfiles/

.idea/
.vscode/
*.swp
*.swo
.DS_Store

uv.lock
